/* for Desktop */

body{
    width: 960px;
    height:auto ;
    margin: auto;
}

/* for mobile  */
@media (min-width: 480px) and (max-width: 767px) {
  
    body{
        width: 480px;
        height:auto ;
        margin: auto;
    }
}