/* for Desktop */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 960px;
    height:auto ;
    margin: auto;
}

/* for mobile  */
@media  (max-width: 767px) {
  
    body{
        width: 480px;
        height:auto ;
        margin: auto;
    }
}