

/* header ,div,footer,aside{
    border: 1px solid #555;
} */


/* for mobile  */
/* @media (max-width: 767px) {
    
    
    header ,div,footer,aside{
        border: 1px solid #555;
    }
} */

/* for Desktop */
@media (min-width: 1021px) {
    
    header {
        background: #c38fd0;
        text-align: center;
        border: 1px solid black;
      border-bottom: none;
    }
    aside{
        background: rgb(87, 86, 138);
    text-align: center;
    border: 1px solid black;
    border-right: none;
    }
    
    

        footer {
         background-color: #9fe2a0;
          border: 1px solid black;
          border-top: none;
          
        }
}
/*for tablate  */
@media (min-width: 768px) and (max-width: 1020px) {
    header {
        background: rgb(92, 228, 176);
        text-align: center;
        border: 1px solid black;
      border-bottom: none;
    }
    main aside{
        background: rgb(60, 145, 214);
        border: 1px solid black;
    }
    .c-d div {
        background-color: rgb(172, 71, 141);
        border: 1px solid black;
        border-top: none;
        border-left: none;
        border-bottom: none;

    }
    footer {
        background-color: rgb(24, 9, 65);
    }
}

/* for mobile */
@media (max-width: 767px) {
    header {
        background: rgb(238, 173, 32);
        text-align: center;
        border: 1px solid black;
      border-bottom: none;
    }
    main aside{
        background: rgb(141, 135, 100);
        border: 1px solid black;
        border-bottom: none;
    }
    .c-d div {
        background-color: rgb(93, 185, 147);
        border: 1px solid black;
        border-bottom: none;
    }
    .e-f-g-h div {
        background-color: rgb(146, 224, 19);
        border: 1px solid black;
        border-bottom: none;
    }
    footer {
        background-color: rgb(82, 109, 98);
        align-items: center;
          border: 1px solid black;
    }
}